{% extends 'base.html.twig' %}

{% block title %}Error Page - Mykyta's Website{% endblock %}

{% block body %}
    <section class="card">
        <h2>Error Page</h2>
        <p>{{ exception.message }}</p>

        <img src="{{ asset('assets/images/korsikov_blog_error_wizz.webp') }}" alt="Error Wizard Image" class="card-image">
    </section>
{% endblock %}