{% extends 'base.html.twig' %}

{% block title %}Error Page{% endblock %}

{% block body %}
    <section class="card error-container">
        <h2>Error Page</h2>
        <div class="error-image-wrapper">
            <img src="{{ asset('assets/images/korsikov_blog_error_wizz.webp') }}" alt="Error Wizard" class="error-image">
        </div>
        <p>{{ exception.message }}</p>
    </section>
{% endblock %}