{% extends 'base.html.twig' %}

{% block title %}Page Not Found - Mykyta's Website{% endblock %}

{% block body %}
    <section class="card">
        <h2>Page Not Found</h2>
        <p>Sorry, the page you are looking for could not be found.</p>

        <img src="{{ asset('assets/images/korsikov_blog_404_frog.webp') }}" alt="404 Frog Image" class="card-image">
    </section>
{% endblock %}