{% extends 'base.html.twig' %}

{% block title %}About Us - My Arcane Compendium{% endblock %}

{% block body %}
    <div class="about-section card">
        <h2>Who?</h2>
        <p>My name is Mykyta Korsikov. (just call me Nick for simplicity I guess) I am a professional web developer and a casual technology enthusiast. I am interested in internet privacy and blue hat cyber-security. My non-tech interests include mythology, religion, the occult, psychology, linguistics, and philosophy. I am particularly interested in Hellenistic philosophy and really like Rhetoric as a discipline. Regarding my interests, I might be seen as a dilettante on my best days, but I still have some unique takes here and there. My main hobby is sleeping. I really enjoy it.</p>

        <h2>Why?</h2>
        <p>I created this blog website for several reasons. Firstly, I got tired of moderation on various forums, image boards, and obscure Discord servers. I simply wanted a place where I can do whatever I want whenever I want. Secondly, I wanted to create a personal website because I believe the internet should consist of websites like this, instead of everyone using two or three major social media sites. Thirdly, I am just having some fun.</p>

        <p>This website is truly esoteric, because nobody knows about it!</p>

        <img src="{{ asset('assets/images/korsikov_blog_unicorn.webp') }}" alt="Unicorn Image" class="card-image">
    </div>
{% endblock %}