{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}
    <section class="card">
        <h2>Contact Information</h2>
        <p>If you wish to get in touch with us, you can find our social media links below or contact us via email:</p>
    </section>

    <section class="card">
            <h2>Contact Me</h2>
        <div class="social-media">
            <div class="social-link-item">
                <a href="mailto:contact@yourdomain.com" class="social-icon email-icon"></a>
                <p><a href="mailto:contact@yourdomain.com">contact@yourdomain.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://linkedin.com" target="_blank" class="social-icon linkedin-icon"></a>
                <p><a href="https://linkedin.com" target="_blank">https://linkedin.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://github.com" target="_blank" class="social-icon github-icon"></a>
                <p><a href="https://github.com" target="_blank">https://github.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://messenger.com" target="_blank" class="social-icon messenger-icon"></a>
                <p><a href="https://messenger.com" target="_blank">https://messenger.com ✨</a></p>
            </div>
        </div>
    </section>
{% endblock %}