{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}
    <section class="card">
        <h2>Contact Information</h2>
        <p>I avoid social media as much as possible and get most of my information from my RSS aggregators. If you need to reach me, the best way is to email me.</p>
    </section>

    <section class="card">
            <h2>Contact Me</h2>
        <div class="social-media">
            <div class="social-link-item">
                <a href="mailto:korsikov.blog.temp.glitter807@passmail.net" class="social-icon email-icon"></a>
                <p><a href="mailto:korsikov.blog.temp.glitter807@passmail.net">korsikov.blog.temp.glitter807@passmail.net ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://linkedin.com" target="_blank" class="social-icon linkedin-icon"></a>
                <p><a href="https://linkedin.com" target="_blank">https://linkedin.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://github.com" target="_blank" class="social-icon github-icon"></a>
                <p><a href="https://github.com" target="_blank">https://github.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://instagram.com" target="_blank" class="social-icon instagram-icon"></a>
                <p><a href="https://instagram.com" target="_blank">https://instagram.com ✨</a></p>
            </div>
            <div class="social-link-item">
                <a href="https://messenger.com" target="_blank" class="social-icon messenger-icon"></a>
                <p><a href="https://messenger.com" target="_blank">https://messenger.com ✨</a></p>
            </div>
        </div>

        <img src="{{ asset('assets/images/korsikov_blog_social.webp') }}" alt="Earth Web Image" class="card-image">
    </section>
{% endblock %}