{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <section class="card">
        <h2>Introduction</h2>
        <p>This is the home page of your Arcane Compendium. Feel free to customize it as needed.</p>
        <p class="highlight">Highlighted text using the yellow color.</p>
        <p class="icon">This is an example of text styled as an icon.</p>

        <img src="{{ asset('assets/images/korsikov_blog_oak_tree.webp') }}" alt="Home Random Image" class="card-image">
    </section>

    <section class="grid-container">
        <div class="grid-item music-icon">
            <a href="https://drive.google.com/path_to_music_snake" target="_blank">
                <h3>Grid Item 1</h3>
                <p>This is a grid item.</p>
            </a>
        </div>
        <div class="grid-item book-icon">
            <a href="https://drive.google.com/path_to_book_snake" target="_blank">
                <h3>Grid Item 2</h3>
                <p>This is a grid item.</p>
            </a>
        </div>
        <div class="grid-item magic-icon">
            <a href="https://drive.google.com/path_to_magic_snake" target="_blank">
                <h3>Grid Item 3</h3>
                <p>This is a grid item.</p>
            </a>
        </div>
    </section>
{% endblock %}