{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <section class="card">
        <h2>Introduction</h2>
        <p class="highlight">AY! My name is Mykyta Korsikov. I am a professional web developer and a casual technology and cyber-security enthusiast.</p>
        <p class="highlight">My non-tech interests include mythology, religion, the occult, psychology, linguistics, and philosophy.</p>
        <p class="icon">My main hobby is sleeping. I love sleeping. Sleeping is good!</p>

        <img src="{{ asset('assets/images/random/korsikov_blog_image_' ~ random ~ '.webp') }}" alt="Home Random Image {{ random }}" class="card-image">
    </section>

    <section class="grid-container">
        <div class="grid-item music-icon">
            <a href="https://drive.proton.me/urls/HP0JQR593G#7zQz2yAbaP5r" target="_blank">
                <h3>Music</h3>
                <p>I don't trust YouTube. I download all my music.</p>
            </a>
        </div>
        <div class="grid-item book-icon">
            <a href="https://drive.proton.me/urls/WAWD2JTD0W#BOndz8kjdMiM" target="_blank">
                <h3>Esoteric</h3>
                <p>Various esoteric books I have read.</p>
            </a>
        </div>
        <div class="grid-item magic-icon">
            <a href="https://drive.proton.me/urls/P24RZBE3B8#hpZbrfqOlULq" target="_blank">
                <h3>D&D</h3>
                <p>A simple 5E D&D book collection for role playing.</p>
            </a>
        </div>
    </section>
{% endblock %}