{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - Mykyta's Website{% endblock %}

{% block body %}
    <div class="privacy-policy-section card">
        <h2>Privacy Policy</h2>
        <p>I do collect various error logs for diagnostic purposes and allow Cloudflare to collect whatever it wants. Please be aware that I personally do not care about statistics or data collection.</p>

        <img src="{{ asset('assets/images/korsikov_blog_privacy.webp') }}" alt="Anon Snake Image" class="card-image">
    </div>
{% endblock %}