{% extends 'base.html.twig' %}

{% block title %}Schizophrenia ONe Page - Mykyta's Website{% endblock %}

{% block body %}
    <section class="card">
        <p class="highlight">I added this while I was extremely sad and blackout drunk. No matter who you are or why you are here, I put my faith in you. I beg of you, please do not give up. You must endure no matter what. I put my faith in you. I believe in your determination and humanity. This world is unstable, yet please do endure and give hope to yourself; I trust in you. The human spirit will win in the end...</p>
        <a href="https://drive.proton.me/urls/P4M8JP558W#A7HnALcP7rmZ">https://drive.proton.me/urls/P4M8JP558W#A7HnALcP7rmZ</a>
        <p>There is a reason why you are here.</p>
        <p>You must endure!</p>
    </section>
{% endblock %}